# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/obj/
**/bin/
SteamWebPipes

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Config file containing juicy secrets
# tweetCap JSON file containing the cached TweetCap
config.json
tweetCap.json

# ScoutState files created to cache the progress of the Scout procedure
.scout-*/**

# .idea files created by Goland
.idea/**
**/.idea/**

# Smommit ignore
.smommit/

# Ignore CSV files as these are usually just data samples
*.txt
*.csv
!samples/**
